@import "bootstrap-sprockets";
@import "bootstrap";

.top{
  background-color:#ff6600;
}
.home{
  text-align: center;
}
.app{
  text-align: center;
  background-color:#f6f6ef;
  width: 70%;
  margin-left: 15%;
}
